.admin-forgot-password-form-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.admin-forgot-password-form-admin-forgot-password-form {
  width: 100%;
  height: 575px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-forgot-password-form-pleaseenteryourusername {
  top: 262px;
  left: 118px;
  width: 166.4256591796875px;
  height: 11.292004585266113px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-forgot-password-form-vector10 {
  top: 2.54400634765625px;
  left: 160.2816619873047px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector11 {
  top: 2.54400634765625px;
  left: 148.1910858154297px;
  width: 10px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector12 {
  top: 2.54400634765625px;
  left: 140.58497619628906px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector13 {
  top: 2.54400634765625px;
  left: 133.0035858154297px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector14 {
  top: 2.54400634765625px;
  left: 128.2809295654297px;
  width: 3px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector15 {
  top: 2.54400634765625px;
  left: 120.40275573730469px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector16 {
  top: 2.54400634765625px;
  left: 114.30339050292969px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector17 {
  top: 2.60400390625px;
  left: 107.05686950683594px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector18 {
  top: 2.54400634765625px;
  left: 99.15983581542969px;
  width: 3px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector19 {
  top: 2.60400390625px;
  left: 91.03733825683594px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector20 {
  top: 2.54400634765625px;
  left: 82.93791198730469px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector21 {
  top: 2.60400390625px;
  left: 75.75778198242188px;
  width: 7px;
  height: 9px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector22 {
  top: 2.54400634765625px;
  left: 69.28875732421875px;
  width: 3px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector23 {
  top: 2.54400634765625px;
  left: 61.41056823730469px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector24 {
  top: 1.212005615234375px;
  left: 56.41021728515625px;
  width: 4px;
  height: 8px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector25 {
  top: 2.54400634765625px;
  left: 49.28485107421875px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector26 {
  top: 2.54400634765625px;
  left: 41.40666198730469px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector27 {
  top: 2.54400634765625px;
  left: 31.023849487304688px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector28 {
  top: 2.54400634765625px;
  left: 24.924468994140625px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector29 {
  top: 2.54400634765625px;
  left: 18.194351196289062px;
  width: 5px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector30 {
  top: 2.54400634765625px;
  left: 11.019943237304688px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector31 {
  top: 0px;
  left: 8.43328857421875px;
  width: 1px;
  height: 9px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector32 {
  top: 0.503997802734375px;
  left: 0px;
  width: 7px;
  height: 8px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-forgot-password {
  top: 217px;
  left: 118px;
  width: 250.80072021484375px;
  height: 28.259992599487305px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-forgot-password-form-vector33 {
  top: 0px;
  left: 234.33071899414062px;
  width: 16px;
  height: 22px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector34 {
  top: 6.209991455078125px;
  left: 223.84756469726562px;
  width: 9px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector35 {
  top: 6.209991455078125px;
  left: 203.33462524414062px;
  width: 17px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector36 {
  top: 6.3600006103515625px;
  left: 175.71163940429688px;
  width: 27px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector37 {
  top: 6.209991455078125px;
  left: 161.51531982421875px;
  width: 13px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector38 {
  top: 6.209991455078125px;
  left: 146.48602294921875px;
  width: 13px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector39 {
  top: 6.209991455078125px;
  left: 129.33633422851562px;
  width: 14px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector40 {
  top: 1.2599945068359375px;
  left: 109.77538299560547px;
  width: 17px;
  height: 21px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector41 {
  top: 2.8799896240234375px;
  left: 86.59687042236328px;
  width: 11px;
  height: 20px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector42 {
  top: 6.209991455078125px;
  left: 68.3639144897461px;
  width: 17px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector43 {
  top: 6.209991455078125px;
  left: 47.65100860595703px;
  width: 17px;
  height: 22px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector44 {
  top: 6.209991455078125px;
  left: 37.167884826660156px;
  width: 9px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector45 {
  top: 6.209991455078125px;
  left: 16.65491485595703px;
  width: 17px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector46 {
  top: 1.2599945068359375px;
  left: 0px;
  width: 15px;
  height: 21px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-frame2 {
  gap: 8px;
  top: 288px;
  left: 114px;
  width: 267px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-forgot-password-form-username {
  width: 66px;
  height: 9.178000450134277px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-forgot-password-form-vector47 {
  top: 2.210000991821289px;
  left: 59.039703369140625px;
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector48 {
  top: 2.210000991821289px;
  left: 45.941593170166016px;
  width: 11px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector49 {
  top: 2.210000991821289px;
  left: 37.70162582397461px;
  width: 6px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector50 {
  top: 2.210000991821289px;
  left: 29.48847198486328px;
  width: 6px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector51 {
  top: 2.210000991821289px;
  left: 24.37226104736328px;
  width: 3px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector52 {
  top: 2.210000991821289px;
  left: 15.837554931640625px;
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector53 {
  top: 2.210000991821289px;
  left: 9.229900360107422px;
  width: 6px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-vector54 {
  top: 0px;
  left: 0px;
  width: 7px;
  height: 9px;
  position: absolute;
  box-sizing: content-box;
}
 
.admin-forgot-password-form-btn-reset-password {
  top: 336px;
  left: 114px;
  width: 267px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--dl-color-default-11111);
}
 
.admin-forgot-password-form-text1 {
  top: 12px;
  left: 69px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-forgot-password-form-btn-back-right {
  top: 13px;
  left: -6px;
  width: 53px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 20px 20px 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-forgot-password-form-text2 {
  top: 4px;
  left: 13px;
  color: var(--dl-color-default-11111);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-forgot-password-form-frame229 {
  top: 0px;
  left: 504px;
  width: 426px;
  height: 575px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px 0 0 40px;
  background-color: rgba(255, 255, 255, 0.9300000071525574);
}
 
.admin-forgot-password-form-downloadremovebgpreview1 {
  top: -12px;
  left: 74px;
  width: 384px;
  height: 300px;
  position: absolute;
}
 
.admin-forgot-password-form-text3 {
  top: 211px;
  left: 18px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-forgot-password-form-text4 {
  top: 254px;
  left: 105px;
  color: rgba(15, 64, 84, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-forgot-password-form-text5 {
  top: 336px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 276px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-forgot-password-form-image44 {
  top: 66.10900115966797px;
  left: 148px;
  width: 182px;
  height: 144px;
  position: absolute;
}
 
.admin-forgot-password-form-group133551 {
  top: 290.5296936035156px;
  left: -165.2191619873047px;
  width: 228.2021942138672px;
  height: 425.5855407714844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-forgot-password-form-subtract1 {
  top: -57.22611511977581px;
  left: 80.45120823590334px;
  width: 149px;
  height: 283px;
  position: absolute;
}
 
.admin-forgot-password-form-subtract2 {
  top: 105.26575983542944px;
  left: 146.19315180431295px;
  width: 141px;
  height: 207px;
  position: absolute;
}
