.reset-password-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.reset-password-reset-password {
  width: 100%;
  height: 575px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.reset-password-group5 {
  top: 0px;
  left: -6px;
  width: 936px;
  height: 576px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-admin-otp-form {
  top: 0px;
  left: 6px;
  width: 930px;
  height: 575px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.reset-password-admin-forgot-password-form {
  top: 0px;
  left: 0px;
  width: 930px;
  height: 575px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-pleaseenteryourusername {
  top: 262px;
  left: 118px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-forgot-password {
  top: 217px;
  left: 118px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-btn-back-right {
  top: 13px;
  left: -6px;
  width: 53px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 20px 20px 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-text1 {
  top: 4px;
  left: 13px;
  color: var(--dl-color-default-11111);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-frame229 {
  top: 0px;
  left: 504px;
  width: 426px;
  height: 575px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px 0 0 40px;
  background-color: rgba(255, 255, 255, 0.9300000071525574);
}
 
.reset-password-downloadremovebgpreview1 {
  top: -12px;
  left: 74px;
  width: 384px;
  height: 300px;
  position: absolute;
}
 
.reset-password-text2 {
  top: 211px;
  left: 18px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-text3 {
  top: 254px;
  left: 105px;
  color: rgba(15, 64, 84, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-text4 {
  top: 336px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  width: 276px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-group133551 {
  top: 290.5296936035156px;
  left: -165.2191619873047px;
  width: 228.2021942138672px;
  height: 425.5855407714844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-subtract1 {
  top: -57.22611511977581px;
  left: 80.45120823590334px;
  width: 149px;
  height: 283px;
  position: absolute;
}
 
.reset-password-subtract2 {
  top: 105.26575983542944px;
  left: 146.19315180431295px;
  width: 141px;
  height: 207px;
  position: absolute;
}
 
.reset-password-image35 {
  top: 408px;
  left: 0px;
  width: 170px;
  height: 168px;
  position: absolute;
}
 
.reset-password-group3 {
  top: 153px;
  left: 115px;
  width: 267px;
  height: 271px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-text5 {
  top: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-text6 {
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-frame2 {
  gap: 8px;
  top: 97px;
  left: 0px;
  width: 267px;
  height: 42px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-text7 {
  color: rgba(114, 115, 116, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-frame230 {
  gap: 8px;
  left: -2px;
  width: 267px;
  bottom: 22px;
  height: 42px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-text8 {
  color: rgba(114, 115, 116, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-btn-reset-password {
  right: -11px;
  width: 267px;
  bottom: -32px;
  height: 42px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--dl-color-default-11111);
}
 
.reset-password-text9 {
  top: 12px;
  left: 69px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
