.admin-book-management-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.admin-book-management-admin-book-management {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-book-management-frame201 {
  top: 0px;
  left: 0px;
  width: 222px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-book-management-group {
  top: 36.000003814697266px;
  left: 86.70417022705078px;
  width: 49.87917709350586px;
  height: 90.72692108154297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-book-management-svgjs-g2242 {
  top: 0px;
  left: 0px;
  width: 49.87917709350586px;
  height: 42.5362663269043px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-book-management-svgjs-g2244 {
  top: 83.11481475830078px;
  left: 3.6587600708007812px;
  width: 41.93360137939453px;
  height: 7.612102508544922px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-book-management-vector1 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 8px;
  position: absolute;
}
 
.admin-book-management-btn-dashboard {
  top: 158px;
  left: 0px;
  width: 222px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-book-management-text10 {
  top: 12px;
  left: 85px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-element22 {
  top: 12px;
  left: 41px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-catalog {
  top: 226px;
  left: 0px;
  width: 222px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-book-management-text11 {
  top: 12px;
  left: 85px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-vector2 {
  top: 12px;
  left: 41px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.admin-book-management-btn-users {
  top: 362px;
  left: 0px;
  width: 222px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-book-management-text12 {
  top: 12px;
  left: 85px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-people3 {
  top: 12px;
  left: 41px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-log-out {
  top: 931px;
  left: 0px;
  width: 222px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-book-management-text13 {
  top: 12px;
  left: 85px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-logout3 {
  top: 12px;
  left: 41px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-books-clicked-btn {
  top: 294px;
  left: 0px;
  width: 222px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 160, 220, 1);
}
 
.admin-book-management-text14 {
  top: 12px;
  left: 85px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-book11 {
  top: 12px;
  left: 41px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-text15 {
  top: 89px;
  left: 47px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text16 {
  top: 116px;
  left: 80px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-downloadremovebgpreview6 {
  top: -19px;
  left: -16px;
  width: 165px;
  height: 165px;
  position: absolute;
}
 
.admin-book-management-frame208 {
  top: 0px;
  left: 222px;
  width: 1698px;
  height: 71px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 160, 220, 1);
}
 
.admin-book-management-text17 {
  top: 15px;
  left: 1552px;
  color: rgba(255, 241, 241, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text18 {
  top: 39px;
  left: 1540px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-setting21 {
  top: 17px;
  left: 1647px;
  width: 38px;
  height: 38px;
  position: absolute;
}
 
.admin-book-management-user1 {
  top: 19px;
  left: 20px;
  width: 34px;
  height: 34px;
  position: absolute;
}
 
.admin-book-management-text19 {
  top: 16px;
  left: 61px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text20 {
  top: 38px;
  left: 61px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-line16 {
  top: 65px;
  left: 1635px;
  width: 58px;
  height: 1px;
  position: absolute;
}
 
.admin-book-management-frame2101 {
  top: 170px;
  left: 245px;
  width: 1658px;
  height: 889px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(190, 220, 231, 1);
}
 
.admin-book-management-line20 {
  top: 82px;
  left: 25px;
  width: 1608px;
  height: 1px;
  position: absolute;
}
 
.admin-book-management-text21 {
  top: 43px;
  left: 79px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text22 {
  top: 43px;
  left: 314px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text23 {
  top: 43px;
  left: 895px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text24 {
  top: 43px;
  left: 635px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text25 {
  top: 43px;
  left: 1188px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text26 {
  top: 43px;
  left: 1515px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-frame156 {
  top: 82px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text27 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text28 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text29 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text30 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit10 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview10 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete10 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame157 {
  top: 150px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text31 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text32 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text33 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text34 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit11 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview11 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete11 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame158 {
  top: 218px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text35 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text36 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text37 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text38 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit12 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview12 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete12 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame159 {
  top: 286px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text39 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text40 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text41 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text42 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit13 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview13 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete13 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame160 {
  top: 354px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text43 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text44 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text45 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text46 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit14 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview14 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete14 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame161 {
  top: 422px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text47 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text48 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text49 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text50 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit15 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview15 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete15 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame162 {
  top: 490px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text51 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text52 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text53 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text54 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit16 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview16 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete16 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame163 {
  top: 558px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text55 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text56 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text57 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text58 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit17 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview17 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete17 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame164 {
  top: 626px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text59 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text60 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text61 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text62 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit18 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview18 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete18 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame165 {
  top: 694px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text63 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text64 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text65 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text66 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit19 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview19 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete19 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame166 {
  top: 762px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text67 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text68 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text69 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text70 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit20 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview20 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete20 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame167 {
  top: 830px;
  left: 56px;
  width: 1577px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-text71 {
  top: 25px;
  left: 206px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text72 {
  top: 25px;
  left: 852px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text73 {
  top: 25px;
  left: 552px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text74 {
  top: 25px;
  left: 1140px;
  color: rgba(21, 22, 25, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btnedit21 {
  top: 23px;
  left: 1442px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btnview21 {
  top: 23px;
  left: 1507px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-btn-delete21 {
  top: 23px;
  left: 1475px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.admin-book-management-frame2102 {
  gap: 16px;
  top: 98px;
  left: 1603px;
  width: 300px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(231, 231, 231, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
 
.admin-book-management-vuesaxtwotonesearchnormal1 {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.admin-book-management-vuesaxtwotonesearchnormal2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-book-management-searchnormal1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-book-management-vector3 {
  top: 1.6666666269302368px;
  left: 1.6666666269302368px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.admin-book-management-vector4 {
  top: 16.66666603088379px;
  left: 16.66666603088379px;
  width: 2px;
  height: 2px;
  opacity: 0.40;
  position: absolute;
}
 
.admin-book-management-text75 {
  color: rgba(114, 115, 116, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text76 {
  top: 103px;
  left: 252px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-text77 {
  top: 103px;
  left: 252px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-btn-add-book {
  gap: 10px;
  top: 99px;
  left: 1453px;
  width: 136px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(0, 160, 220, 1);
}
 
.admin-book-management-addcircle1 {
  width: 24px;
  height: 24px;
}
 
.admin-book-management-text78 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-frame211 {
  top: 101px;
  left: 1182px;
  width: 244px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0 12px 12px 0;
  background-color: rgba(226, 226, 226, 1);
}
 
.admin-book-management-text79 {
  top: 8px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.admin-book-management-vuesaxtwotonesearchnormal3 {
  top: 9px;
  left: 199px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.admin-book-management-searchnormal2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.admin-book-management-frame212 {
  top: 103px;
  left: 520px;
  width: 244px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0 12px 12px 0;
  background-color: rgba(226, 226, 226, 1);
}
 
.admin-book-management-text80 {
  top: 8px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
