.reset-password-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.reset-password-reset-password {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.reset-password-component4 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.reset-password-group5 {
  top: 0px;
  left: -9.290322303771973px;
  width: 1449.290283203125px;
  height: 901.5652465820312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-admin-otp-form {
  top: 0px;
  left: 9.290322303771973px;
  width: 1440px;
  height: 900px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.reset-password-admin-forgot-password-form {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-pleaseenteryourusername {
  top: 262px;
  left: 118px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-forgot-password {
  top: 217px;
  left: 118px;
  width: 0px;
  height: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-btn-back-right {
  top: 13px;
  left: -6px;
  width: 53px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 20px 20px 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-text1 {
  top: 4px;
  left: 13px;
  color: var(--dl-color-default-11111);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-group133551 {
  top: 12.22618579864502px;
  left: -174.5768280029297px;
  width: 228.2021942138672px;
  height: 425.5855407714844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-subtract1 {
  top: -57.22614607556534px;
  left: 80.45125175503199px;
  width: 149px;
  height: 283px;
  position: absolute;
}
 
.reset-password-subtract2 {
  top: 105.2658007270652px;
  left: 146.19319961639485px;
  width: 141px;
  height: 207px;
  position: absolute;
}
 
.reset-password-image35 {
  top: 638.6087036132812px;
  left: 0px;
  width: 263px;
  height: 263px;
  position: absolute;
}
 
.reset-password-group3 {
  top: 268px;
  left: 178.00006103515625px;
  width: 413px;
  height: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-text2 {
  top: 70.08695983886719px;
  left: 0.064453125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-text3 {
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-frame2 {
  gap: 8px;
  top: 142px;
  left: 0px;
  width: 413px;
  height: 47px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-text4 {
  color: rgba(114, 115, 116, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-frame230 {
  gap: 8px;
  left: -1px;
  width: 413px;
  bottom: 24px;
  height: 48px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(55, 205, 60, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
 
.reset-password-text5 {
  color: rgba(114, 115, 116, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-btn-reset-password {
  left: 60px;
  width: 282px;
  bottom: -33px;
  height: 41px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: var(--dl-color-default-11111);
}
 
.reset-password-text6 {
  top: 12px;
  left: 69px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-group133563 {
  top: 0px;
  left: 841px;
  width: 633px;
  height: 785px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-group133565 {
  top: 0px;
  left: 0px;
  width: 633px;
  height: 785px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.reset-password-downloadremovebgpreview1 {
  top: 0px;
  left: 249px;
  width: 384px;
  height: 300px;
  position: absolute;
}
 
.reset-password-frame243 {
  top: 210px;
  left: 0px;
  width: 426px;
  height: 575px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 40px 0 0 40px;
  background-color: rgba(255, 255, 255, 0.9300000071525574);
}
 
.reset-password-text7 {
  top: 108px;
  color: rgba(0, 160, 220, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-text8 {
  top: 175px;
  left: 158px;
  color: rgba(15, 64, 84, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.reset-password-text9 {
  top: 262px;
  left: 3px;
  color: rgb(89, 170, 41);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
